
  <tr class="word-record">
    <td class="word">apple</td>
    <td class="meaning">りんご</td>
    <td class="level">1</td>
    <td class="delete"><%= link_to %></td>
    <td class="edit"><%= link_to  %></td>
  </tr>
  <tr class="word-record">
    <td class="word">absentminded</td>
    <td class="meaning">上の空の、ぼんやりしている</td>
    <td class="level">3</td>
    <td class="edit"><%= link_to %></td>
    <td class="delete"><%= link_to %></td>
  </tr>
