
  <tr>
    <td>apple</td>
    <td>りんご</td>
    <td>1</td>
    <td><%= link_to "編集", '#' %></td>
    <td><%= link_to "削除", '#' %></td>
  </tr>
  <tr>
    <td>absentminded</td>
    <td>上の空の、ぼんやりしている</td>
    <td>3</td>
    <td><%= link_to "編集", '#' %></td>
    <td><%= link_to "削除", '#' %></td>
  </tr>
